.card-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
    .row {
      width: 100%;
      margin-right: 5px;

      .photo-contaier {
          display: flex;
          justify-content: center;
      }

      &:last-child {
          margin-right: 0;
      }

      &-1 {
        flex: 1 0;
      }
  
      &-2 {
        flex: 3 0;
      }
    }
  }
  
  @media (max-width: 800px) {
    .card-content {
      flex-direction: column;
  
      .row {
        margin: 0;

        &-1, &-2 {
            flex: 1 0;
        }
      }
    }
  }